<template>
    <div class="category">

        <b-modal v-model="showAddNewModal" hide-footer title="Dodaj novu kategoriju">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <form>
                            <div class="form-group">
                                <label for="categoryName">Kategorija: </label>
                                <input v-model="modalProperties.name" class="form-control" id="categoryName" type="text" />
                            </div>
                        </form>
                    </b-col>
                </b-row>

                <b-btn variant="primary" size="sm" @click="saveCategory(modalProperties)">Spremi</b-btn>
                <b-btn variant="danger" size="sm" @click="closeAddNewModal()">Close</b-btn>
            </b-container>
        </b-modal>

        <b-modal v-model="showEditModal" hide-footer title="Uredi">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <form>
                            <div class="form-group">
                                <label for="categoryName">Kategorija:</label>
                                <input v-model="modalProperties.name" class="form-control" id="categoryName" type="text" />
                            </div>
                        </form>
                    </b-col>
                </b-row>

                <b-btn variant="primary" size="sm" @click="editCategory(modalProperties)">Spremi</b-btn>
                <b-btn variant="danger" size="sm" @click="closeEditModal()">Close</b-btn>
            </b-container>
        </b-modal>
        
        <div class="row">
            <div class="col-12"><h3>Kategorije</h3></div>

            <div class="col-8">
                <table class="table table-hover table-striped table-bordered">
                    <tbody>
                        <tr v-for="category in response">
                            <td>{{ category.name }}</td>
                            <td>
                                <button type="button" @click="editModal(category)" class="btn btn-outline-primary btn-sm">Uredi</button>
                                <button type="button" @click="deleteCategory(category.id)" class="btn btn-danger btn-sm">Obriši</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <b-btn variant="success" @click="addNewModal()">+ Dodaj</b-btn>
            </div>
        </div>
    </div>
</template>

<script>

import axios from '../auth'
import { findIndexById, removeById } from '../util'

export default {
    name: 'category',

    data () {
        return {
            errors: [],
            response: [],
            showAddNewModal: false,
            showEditModal: false,
            modalProperties:  {
                id: 0,
                name: ''
            }
        }
    },
    methods: {
        fetchProductCategories() {
            axios.get('/category')
                .then(response => {
                    this.response = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e)
                })
        },
        saveCategory(params) {
            axios.post('/category', params)
                .then(response => {
                    this.response.push(response.data.data);
                })
                .catch(e => {
                    this.errors.push(e)
                })
        },
        editCategory(params) {
            axios.put('/category', params)
                .then(response => {
                    let index = findIndexById(this.response, params.id);
                    this.response[index] = response.data.data;
                    this.showEditModal = false;
                })
                .catch(e => {
                    this.errors.push(e)
                })
        },
        deleteCategory(id) {
            axios.delete('/category/' + id)
                .then(response => {
                    this.response = removeById(this.response, id);
                })
                .catch(e => {
                    this.errors.push(e)
                })
        },
        addNewModal() {
            this.modalProperties.id = 0;
            this.modalProperties.name = '';
            this.showAddNewModal = true;
        },
        closeAddNewModal() {
            this.showAddNewModal = false;
        },
        editModal(category) {
            this.modalProperties.id = category.id;
            this.modalProperties.name = category.name;
            this.showEditModal = true;
        },
        closeEditModal() {
            this.modalProperties.id = 0;
            this.modalProperties.name = '';
            this.showEditModal = false;
        }
    },
    created: function() {
        this.fetchProductCategories();
    },
}
</script>

<style scoped>
    h3 {
        margin: 10px;
    }
    .btn {
        margin-right: 5px;
    }
</style>