<template>
    <div>
        <br/>
        <b-form @submit="login">
            <b-form-group id="group-username" label-for="username">
                <b-form-input
                id="username"
                v-model="username"
                required
                placeholder="Korisničko ime"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="group-password" label-for="password">
                <b-form-input
                id="password"
                v-model="password"
                type="password"
                required
                placeholder="Lozinka"
                ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Login</b-button>
        </b-form>
    </div>
</template>

<script>
    import store from '../store/index'

    export default {
        name: 'login',
        data () {
            return {
                errors: [],
                response: [],
                username: null,
                password: null
            }
        },
        methods: {
            reset() {
                this.username = ''
                this.password = ''
            },

            login() {
                let username = this.username
                let password = this.password
                this.$store.dispatch('login', { username, password })
                    .then(() => this.$router.push('/'))
                    .catch(err => console.log(err))
            }
        },
        created: function(){
            console.log(this.$store.getters.isLoggedIn)
        },
        updated: function(){
            console.log(this.$store.getters.isLoggedIn)
        }
    }
</script>
