<template>
    <div class="myProfile">
        <h3>Korisnik: {{ user.username }}</h3>
        <b-form>
            <b-form-group id="username-group" label="Korisničko ime:" label-for="username">
                <b-form-input id="username" v-model="user.username" />
            </b-form-group>

            <b-form-group id="firstName-group" label="Ime:" label-for="firstName">
                <b-form-input id="firstName" v-model="user.firstName" />
            </b-form-group>

            <b-form-group id="lastName-group" label="Prezime:" label-for="lastName">
                <b-form-input id="lastName" v-model="user.lastName" />
            </b-form-group>

            <b-form-group id="storeName-group" label="Trgovina:" label-for="storeName">
                <b-form-input disabled id="storeName" v-model="user.storeName" />
            </b-form-group>

            <b-form-group id="roleName-group" label="Rola:" label-for="roleName">
                <b-form-input disabled id="roleName" v-model="user.roleName" />
            </b-form-group>

            <b-form-group id="showPassword-group" label="Promijeni lozinku:" label-for="showPassword">
                <b-form-checkbox id="showPassword" v-model="showPassword" />
            </b-form-group>

            <b-form-group v-if="showPassword" id="password-group" label="Lozinka:" label-for="password">
                <b-form-input id="password" v-model="user.password" type="password" />
            </b-form-group>

            <b-button type="submit" variant="primary" @click="saveMyProfile(user)">Spremi</b-button>
        </b-form>
    </div>
</template>

<script>
    import axios from "../auth";
    import store from "../store";

    export default {
        name: 'myProfile',
        data () {
            return {
                errors: [],
                response: [],
                showPassword: false,
                user: {
                    id: 0,
                    username: '',
                    password: '',
                    firstName: '',
                    lastName: '',
                    storeId: 0,
                    storeName: '',
                    roleId: 0,
                    roleName: '',
                }
            }
        },
        methods: {
            onView(profile) {
                this.user.id = profile.id;
                this.user.username = profile.username;
                this.user.firstName = profile.firstName;
                this.user.lastName = profile.lastName;
                this.user.roleId = profile.roleId;
                this.user.roleName = profile.roleName;
                this.user.storeId = profile.storeId;
                this.user.storeName = profile.storeName;
            },

            saveMyProfile(user) {
                axios.put('/users', user)
                    .then(response => {
                        this.user = response.data.data;
                    })
                    .catch(e => {
                        this.errors.push(e);
                    })
            }
        },
        created: function () {
           this.onView(this.$store.state.user); 
        }
    }
</script>

<style scoped>
    h3 {
        margin: 10px;
    }
</style>