<template>
    <div class="product">
        <div class="row">
            <div class="col-12">
                <h3>Proizvodi</h3>            
            </div>

            <b-modal v-model="showAddNewModal" hide-footer title="Dodaj novi proizvod">
                <b-container fluid>
                    <b-row>
                        <b-col>
                            <form>
                                <div class="form-group">
                                    <label for="productName">Ime proizvoda:</label>
                                    <input v-model="modalProperties.name" class="form-control" id="productName" type="text" />
                                </div>

                                <div class="form-group">
                                    <label for="selectedCategory">Kategorija:</label>
                                    <select v-model="modalProperties.selectedCategory" id="selectedCategory" class="form-control">
                                        <option disabled value="">Odaberite</option>
                                        <option v-for="category in categoryList" :value="category">{{ category.name }}</option>
                                    </select>
                                </div>
                            </form>
                        </b-col>
                    </b-row>

                    <b-btn variant="primary" size="sm" @click="saveProduct(modalProperties)">Spremi</b-btn>
                    <b-btn variant="danger" size="sm" @click="closeAddNewModal()">Close</b-btn>
                </b-container>
            </b-modal>

            <b-modal v-model="showEditModal" hide-footer title="Uredi">
                <b-container fluid>
                    <b-row>
                        <b-col>
                            <form>
                                <div class="form-group">
                                    <label for="productName">Ime proizvoda:</label>
                                    <input v-model="modalProperties.name" class="form-control" id="productName" type="text" />
                                </div>

                                <div class="form-group">
                                    <label for="selectedCategory">Kategorija:</label>
                                    <select v-model="modalProperties.selectedCategory" id="selectedCategory" class="form-control">
                                        <option disabled value="">Odaberite</option>
                                        <option v-for="category in categoryList" :value="category">{{ category.name }}</option>
                                    </select>
                                </div>
                            </form>
                        </b-col>
                    </b-row>

                    <b-btn variant="primary" size="sm" @click="editProduct(modalProperties)">Ažuriraj</b-btn>
                    <b-btn variant="danger" size="sm" @click="closeEditModal()">Zatvori</b-btn>
                </b-container>
            </b-modal>

            <div class="col-8">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>Proizvod</td>
                            <td>Kategorija</td>
                            <!-- <td>ikonica</td> -->
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in response">
                            <td>{{ product.name }}</td>
                            <td>{{ product.categoryName }}</td>
                            <!-- <td><img v-bind:src="'data:image/jpeg;base64,' + product.base64" /><td> -->
                            <td>
                                <button type="button" @click="editModal(product)" class="btn btn-outline-primary btn-sm">Uredi</button>
                                <button type="button" @click="deleteProduct(product.id)" class="btn btn-danger btn-sm">Obriši</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <b-btn class="b-btn btn-success" @click="addNewModal()">+ Dodaj</b-btn>
            </div>
        </div>
    </div>
</template>

<script>

import axios from '../auth'
import { findIndexById, removeById } from '../util'

export default {
    name: 'product',
    data () {
        return {
            errors: [],
            response: [],
            showAddNewModal: false,
            showEditModal: false,
            modalProperties: {
                id: 0,
                name: '',
                selectedCategory: null
            },
            categoryList: [],
        }
    },
    methods: {
        fetchProducts() {
            console.log(this.$store.getters.isLoggedIn)
            axios.get('/products')
                .then(response => {
                    this.response = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e)
                })
        },
        saveProduct(params) {
            let obj = { 
                id: this.modalProperties.id,
                name: this.modalProperties.name,
                categoryId: this.modalProperties.selectedCategory.id,
                categoryName: this.modalProperties.selectedCategory.name
            }
            axios.post('/products', obj)
                .then(response => {
                    this.response.push(response.data.data);
                    this.showAddNewModal = false;
                })
                .catch(e => {
                    this.errors.push(e)
                })
 
        },
        editProduct(params) {
            axios.put('/products', params)
                .then(response => {
                    let index = findIndexById(this.response, params.id);
                    this.response[index] = response.data.data;
                    this.showEditModal = false;
                })
                .catch(e => {
                    this.errors.push(e)
                }) 
        },
        deleteProduct(id) {
            axios.delete('/products/' + id)
                .then(response => {
                    this.response = removeById(this.response, id);
                })
                .catch(e => {
                    this.errors.push(e)
                })
        },
        populateCategoryList() {
            axios.get('/category')
                .then(response => {
                    this.categoryList = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e)
                })
        },
        addNewModal() {
            this.populateCategoryList();
            this.modalProperties.id = 0;
            this.modalProperties.name = '';
            this.modalProperties.selectedCategory = null;
            this.showAddNewModal = true;
        },
        closeAddNewModal() {
            this.showAddNewModal = false;
        },
        editModal(product) {
            this.populateCategoryList();
            this.modalProperties.id = product.id;
            this.modalProperties.name = product.name;
            this.modalProperties.selectedCategory = { id: product.categoryId, name: product.categoryName };
            this.showEditModal = true;
        },
        closeEditModal() {
            this.modalProperties.id = 0;
            this.modalProperties.name = '';
            this.showEditModal = false;
        }
    },
    created: function() {
        this.fetchProducts();
    },
}
</script>

<style scoped>
    .btn {
        margin-right: 5px;
    }

    h3 {
        margin: 10px;
    }
</style>