<template>
    <div class="productStore">
        <div class="row">
            <div class="col-12">
                <h3>Proizvodi po trgovinama</h3>
            </div>

            <b-modal v-model="showAddNewModal" hide-footer title="Dodaj novi proizvod">
                <b-container fluid>
                    <b-row>
                        <b-col>
                            <form>
                                <div class="form-group">
                                    <label for="productName">Proizvod:</label>
                                    <select v-model="productStore.product" class="form-control">
                                        <option disabled value="">Odaberite</option>
                                        <option v-for="product in products" v-bind:value="product">{{ product.name }}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="storeName">Trgovina:</label>
                                    <select :disabled="disabledStoreOption" v-model="productStore.store" class="form-control">
                                        <option disabled value="">Odaberite</option>
                                        <option v-for="store in stores" :value="store">{{ store.name }}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="price">Cijena:</label>
                                    <input v-model="productStore.price" class="form-control" id="price" type="text" />
                                </div>
                            </form>
                        </b-col>
                    </b-row>

                    <b-btn variant="primary" size="sm" @click="saveProductStore(productStore)">Spremi</b-btn>
                    <b-btn variant="danger" size="sm" @click="closeAddNewModal()">Zatvori</b-btn>
                </b-container>
            </b-modal>

            <b-modal v-model="showEditModal" hide-footer title="Uredi">
                <b-container fluid>
                    <b-row>
                        <b-col>
                            <form>
                                <div class="form-group">
                                    <label for="productName">Proizvod:</label>
                                    <select v-model="modalProperties.product" class="form-control">
                                        <option disabled value="">Odaberite</option>
                                        <option v-for="product in products" :value="product">{{ product.name }}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="categoryName">Kategorija:</label>
                                    <input disabled v-model="modalProperties.product.categoryName" class="form-control" id="categoryName" type="text" />
                                </div>

                                <div class="form-group">
                                    <label for="storeName">Trgovina:</label>
                                    <input disabled v-model="modalProperties.storeName" class="form-control" id="storeName" type="text" />
                                </div>

                                <div class="form-group">
                                    <label for="price">Cijena:</label>
                                    <input v-model="modalProperties.price" class="form-control" id="price" type="text" />
                                </div>
                            </form>
                        </b-col>
                    </b-row>

                    <b-btn variant="primary" size="sm" @click="editProductStore(modalProperties)">Spremi</b-btn>
                    <b-btn vairant="danger" size="sm" @click="closeEditModal()">Zatvori</b-btn>
                </b-container>
            </b-modal>

            <div class="col-12">
                <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <td>Proizvod</td>
                            <td>Trgovina</td>
                            <td>Cijena</td>
                            <td v-if="!$store.getters.isUser"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="productStore in response">
                            <td>{{ productStore.productName}}</td>
                            <td>{{ productStore.storeName }}</td>
                            <td>{{ productStore.price }}</td>
                            <td v-if="!$store.getters.isUser">
                                <button type="button" @click="editModal(productStore)" class="btn btn-outline-primary btn-sm">Uredi</button>
                                <button type="button" @click="deleteProductStore(productStore.id)" class="btn btn-danger btn-sm">Obriši</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <b-btn class="b-btn btn-success" @click="addNewModal()">+ Dodaj</b-btn>
            </div>
        </div>
    </div>
</template>

<script>

import axios from '../auth'
import { removeById, findIndexById } from '../util'
import store from '../store'

export default {
    name: 'productStore',
    data () {
        return {
            errors: [],
            response: [],
            showEditModal: false,
            showAddNewModal: false,
            disabledStoreOption: false,
            modalProperties: {
                id: 0,
                product: {
                    id: 0,
                    name: '',
                    categoryId: 0,
                    categoryName: '',
                    base64: null,
                    imagePath: null
                },
                storeId: 0,
                storeName: '',
                price: 0.00
            },
            productStore: {
                id: 0,
                product: {
                    id: 0,
                    name: '',
                },
                store: {
                    id: 0,
                    name: ''
                },
                price: 0.00
            },
            products: [],
            stores: []
        }
    },
    methods: {
        fetchProductFromStores() {
            let uri;

            if (this.$store.getters.isAdmin || this.$store.getters.isUser)
                uri = '/productStores';
            else
                uri = `/productStores/store/${this.$store.state.user.storeId}`;

            axios.get(uri)
                .then(response => {
                    this.response = response.data.data;                    
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        saveProductStore(params) {
            let obj = { 
                    id: params.id,
                    productId: params.product.id,
                    productName: params.product.name,
                    storeId: params.store.id,
                    storeName: params.store.name,
                    price : params.price
            }
            axios.post('/productStores', obj)
                .then(response => {
                    this.response.push(response.data.data);
                    this.showAddNewModal = false;
                })
                .catch(e => {
                    this.errors.push(e);
                });
            
        },
        editProductStore(params) {
            let obj = { 
                    id: params.id,
                    productId: params.product.id,
                    productName: params.product.name,
                    storeId: params.storeId,
                    storeName: params.storeName,
                    price : params.price
            }
            axios.put('/productStores', obj)
                .then(response => {
                    let index = findIndexById(this.response, params.id);
                    this.response[index] = response.data.data;
                    this.showEditModal = false;
                })
                .catch(e => {
                    this.errors.push(e);
                })
        },
        deleteProductStore(id) {
            axios.delete('/productStores/' + id)
                .then(response => {
                    this.response = removeById(this.response, id);
                })
                .catch(e => {
                    this.errors.push(e);
                })
        },
        editModal(productStore) {
            this.fetchProducts();
            this.modalProperties.id = productStore.id;
            this.modalProperties.product.id = productStore.productId;
            this.modalProperties.product.name = productStore.productName;
            this.modalProperties.product.categoryId = productStore.categoryId;
            this.modalProperties.product.categoryName = productStore.categoryName;
            this.modalProperties.storeId = productStore.storeId;
            this.modalProperties.storeName = productStore.storeName;
            this.modalProperties.price = productStore.price;
            this.showEditModal = true;
        },
        closeEditModal() {
            this.modalProperties.id = 0;
            this.modalProperties.product.id = 0;
            this.modalProperties.product.name = '';
            this.modalProperties.product.categoryId = 0;
            this.modalProperties.product.categoryName = '';
            this.modalProperties.storeId = 0;
            this.modalProperties.storeName = '';
            this.modalProperties.price = 0;
            this.showEditModal = false;
        },
        addNewModal() {
            this.fetchStores();
            this.fetchProducts();
            this.setDefaultValues();
            this.showAddNewModal = true;
        },
        closeAddNewModal() {
            this.showAddNewModal = false;
        },
        fetchProducts() {
            console.log(this.$store.getters.isLoggedIn)
            axios.get('/products')
                .then(response => {
                    this.products = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e);
                })
        },
        fetchStores() {
            axios.get('/stores')
                .then(response => {
                    this.stores = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e);
                })
        },
        setDefaultValues() {
            this.productStore.id = 0;
            this.productStore.product.id = 0;
            this.productStore.product.name = '';

            if (this.$store.getters.isStoreAdmin) {
                this.productStore.store.id = this.$store.state.user.storeId;
                this.productStore.store.name = this.$store.state.user.storeName;
                this.disabledStoreOption = true;
            } else if (this.$store.getters.isAdmin) {
                this.productStore.store.id = 0;
                this.productStore.store.name = '';
                this.disabledStoreOption = false;
            }
            this.productStore.price = 0;
        }
    },
    created: function() {
        this.fetchProductFromStores();
    }
}
</script>

<style scoped>
    .btn {
        margin-right: 5px;
    }

    h3 {
        margin: 10px;
    }
</style>
