<template>
    <div class="role">

        <b-modal v-model="showAddNewModal" hide-footer title="Dodaj novu trgovinu">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <form>
                            <div class="form-group">
                                <label for="roleName">Rola:</label>
                                <input v-model="modalProperties.name" class="form-control" id="roleName" type="text" />
                            </div>
                        </form>
                    </b-col>
                </b-row>

                <b-btn variant="primary" size="sm" @click="saveRole(modalProperties)">Spremi</b-btn>
                <b-btn variant="danger" size="sm" @click="closeAddNewModal()">Close</b-btn>
            </b-container>
        </b-modal>

        <b-modal v-model="showEditModal" hide-footer title="Uredi">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <form>
                            <div class="form-group">
                                <label for="roleName">Rola:</label>
                                <input v-model="modalProperties.name" class="form-control" id="roleName" type="text" />
                            </div>
                        </form>
                    </b-col>
                </b-row>

                <b-btn variant="primary" size="sm" @click="editRole(modalProperties)">Ažuriraj</b-btn>
                <b-btn variant="danger" size="sm" @click="closeEditModal()">Zatvori</b-btn>
            </b-container>
        </b-modal>

        <div class="row">
            <div class="col-12">
                <h3>Rola</h3>
            </div>
            <div class="col-10">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr v-for="role in response">
                            <td>{{ role.name }}</td>
                            <td>
                                <b-btn variant="outline-primary" size="sm" @click="editModal(role)">Uredi</b-btn>
                                <b-btn variant="danger" size="sm" @click="deleteRole(role.id)">Obriši</b-btn>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <b-btn variant="success" @click="addNewModal()">+ Dodaj</b-btn>
            </div>
        </div>
    </div>
</template>

<script>

import axios from '../auth'
import { findIndexById, removeById } from '../util';

export default {
    name: "role",
    data() {
        return {
            errors: [],
            response: [],
            showEditModal: false,
            showAddNewModal: false,
            modalProperties:  {
                id: 0,
                name: ''
            }
        };
    },
    methods: {
        fetchRoles() {
            axios.get("/roles")
                .then(response => {
                    this.response = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        saveRole(params) {
            axios.post("/roles", params)
                .then(response => {
                    this.response.push(response.data.data);
                    this.showAddNewModal = false;
                })
                .catch(e => {
                    this.errors.push(e);
                });

        },
        editRole(params) {
            axios.post("/roles", params)
                .then(response => {
                    let index = findIndexById(this.response, params.id);
                    this.response[index] = response.data.data;
                    this.showEditModal = false;
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        deleteRole(id) {
            axios.delete("/roles/" + id)
                .then(response => {
                    this.response = removeById(this.response, id);
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        addNewModal() {
            this.setDefaultValues();
            this.showAddNewModal = true;
        },
        closeAddNewModal() {
            this.showAddNewModal = false;
        },
        editModal(role) {
            this.modalProperties.id = role.id;
            this.modalProperties.name = role.name;
            this.showEditModal = true;
        },
        closeEditModal() {
            this.modalProperties.id = 0;
            this.modalProperties.name = '';
            this.showEditModal = false;
        },
        setDefaultValues() {
            this.modalProperties.id = 0;
            this.modalProperties.name = '';
        }

    },
    created: function() {
        this.fetchRoles();
    },
};
</script>


<style scoped>
    .btn {
        margin-right: 5px;
    }
    h3 {
        margin: 10px;
    }
</style>