<template>
    <div class="store">

        <b-modal v-model="showAddNewModal" hide-footer title="Dodaj novu trgovinu">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <form>
                            <div class="form-group">
                                <label for="storeName">Trgovina:</label>
                                <input v-model="modalProperties.name" class="form-control" id="storeName" type="text" />
                            </div>
                        </form>
                    </b-col>
                </b-row>

                <b-btn variant="primary" size="sm" @click="saveStore(modalProperties)">Spremi</b-btn>
                <b-btn variant="danger" size="sm" @click="closeAddNewModal()">Zatvori</b-btn>
            </b-container>
        </b-modal>

        <b-modal v-model="showEditModal" hide-footer title="Uredi">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <form>
                            <div class="form-group">
                                <label for="storeName">Trgovina:</label>
                                <input v-model="modalProperties.name" class="form-control" id="storeName" type="text" />
                            </div>
                        </form>
                    </b-col>
                </b-row>

                <b-btn variant="primary" size="sm" @click="editStore(modalProperties)">Ažuriraj</b-btn>
                <b-btn variant="danger" size="sm" @click="closeEditModal()">Zatvori</b-btn>
            </b-container>
        </b-modal>

        <div class="row">
            <div class="col-12">
                <h3>Trgovina</h3>
            </div>
            <div class="col-10">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr v-for="store in response">
                            <td>{{ store.name }}</td>
                            <td>
                                <b-btn variant="outline-primary" size="sm" @click="editModal(store)">Uredi</b-btn>
                                <b-btn variant="danger" size="sm" @click="deleteStore(store.id)">Obriši</b-btn>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <b-btn variant="success" @click="addNewModal()">+ Dodaj</b-btn>
            </div>
        </div>
    </div>
</template>

<script>

import axios from '../auth'
import { findIndexById, removeById} from '../util';

export default {
    name: 'store',
    data() {
        return {
            errors: [],
            response: [],
            showEditModal: false,
            showAddNewModal: false,
            modalProperties:  {
                id: 0,
                name: ''
            }
        };
    },
    methods: {
        fetchStores() {
            axios.get("/stores")
                .then(response => {
                    this.response = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        saveStore(params) {
            axios.post("/stores", params)
                .then(response => {
                    this.response.push(response.data.data);
                    this.showAddNewModal = false;
                })
                .catch(e => {
                    this.errors.push(e);
                });

        },
        editStore(params) {
            axios.post("/stores", params)
                .then(response => {
                    let index = findIndexById(this.response, params.id);
                    this.response[index] = response.data.data;
                    this.showEditModal = false;
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        deleteStore(id) {
            axios.delete("/stores/" + id)
                .then(response => {
                    this.response = removeById(this.response, id);
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        addNewModal() {
            this.setDefaultValues();
            this.showAddNewModal = true;
        },
        closeAddNewModal() {
            this.showAddNewModal = false;
        },
        editModal(store) {
            this.modalProperties.id = store.id;
            this.modalProperties.name = store.name;
            this.showEditModal = true;
        },
        closeEditModal() {
            this.modalProperties.id = 0;
            this.modalProperties.name = '';
            this.showEditModal = false;
        },
        setDefaultValues() {
            this.modalProperties.id = 0;
            this.modalProperties.name = '';
        }

    },
    created: function() {
        this.fetchStores();
    },
};
</script>

<style scoped>
    .btn {
        margin-right: 5px;
    }

    h3 {
        margin: 10px;
    }
</style>