<template>
    <div class="user">

        <b-modal v-model="showAddNewModal" hide-footer title="Dodaj novog korisnika">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <form>
                            <div class="form-group">
                                <label for="username">Korisničko ime:</label>
                                <input v-model="modalProperties.username" class="form-control" id="username" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="password">Lozinka:</label>
                                <input v-model="modalProperties.password" class="form-control" id="password" type="password" />
                            </div>

                            <div class="form-group">
                                <label for="fristName">Ime:</label>
                                <input v-model="modalProperties.firstName" class="form-control" id="firstName" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="lastName">Prezime:</label>
                                <input v-model="modalProperties.lastName" class="form-control" id="lastName" type="text" />
                            </div>


                            <div class="form-group">
                                <label>Trgovina:</label>
                                <select v-model="modalProperties.selectedStore" class="form-control">
                                    <option disabled value="">Odaberite</option>
                                    <option v-for="store in stores" :value="store">{{ store.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Rola:</label>
                                <select v-model="modalProperties.selectedRole" class="form-control">
                                    <option disabled value="">Odaberite</option>
                                    <option v-for="role in roles" :value="role">{{ role.name }}</option>
                                </select>
                            </div>
                        </form>
                    </b-col>
                </b-row>

                <b-btn variant="primary" size="sm" @click="saveUser(modalProperties)">Spremi</b-btn>
                <b-btn variant="danger" size="sm" @click="closeAddNewModal()">Close</b-btn>
            </b-container>
        </b-modal>

        <b-modal v-model="showEditModal" hide-footer title="Uredi">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <form>
                            <div class="form-group">
                                <label for="username">Korisničko ime:</label>
                                <input v-model="modalProperties.username" class="form-control" id="username" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="fristName">Ime:</label>
                                <input v-model="modalProperties.firstName" class="form-control" id="firstName" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="lastName">Prezime:</label>
                                <input v-model="modalProperties.lastName" class="form-control" id="lastName" type="text" />
                            </div>


                            <div class="form-group">
                                <label for="selectedStore">Trgovina:</label>
                                <select v-model="modalProperties.selectedStore" id="selectedStore" class="form-control">
                                    <option disabled value="">Odaberite</option>
                                    <option v-for="store in stores" :value="store">{{ store.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="selectedRole">Rola:</label>
                                <select v-model="modalProperties.selectedRole" id="selectedRole" class="form-control">
                                    <option disabled value="">Odaberite</option>
                                    <option v-for="role in roles" :value="role">{{ role.name }}</option>
                                </select>
                            </div>
                        </form>
                    </b-col>
                </b-row>

                <b-btn variant="primary" size="sm" @click="editUser(modalProperties)">Ažuriraj</b-btn>
                <b-btn variant="danger" size="sm" @click="closeEditModal()">Zatvori</b-btn>
            </b-container>
        </b-modal>

        <div class="row">
            <div class="col-12">
                <h3>Korisnici</h3>
            </div>
            <div class="col-10">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Korisničko ime</td>
                            <td>Ime</td>
                            <td>Prezime</td>
                            <td>Trgovina</td>
                            <td>Rola</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in response">
                            <td>{{ user.username }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.storeName}}</td>
                            <td>{{ user.roleName }}</td>
                            <td>
                                <b-btn variant="outline-primary" size="sm" @click="editModal(user)">Uredi</b-btn>
                                <b-btn variant="warning" size="sm" @click="resetUserPassword(user.id)">Obnovi lozinku</b-btn>
                                <b-btn variant="danger" size="sm" @click="deleteUser(user.id)">Obriši</b-btn>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <b-btn variant="success" @click="addNewModal()">+ Dodaj</b-btn>
            </div>
        </div>
    </div>
</template>

<script>

import axios from '../auth'
import { findIndexById, removeById } from '../util';

export default {
    name: "user",
    data() {
        return {
            errors: [],
            response: [],
            showEditModal: false,
            showAddNewModal: false,
            modalProperties:  {
                id: 0,
                username: '',
                password: '',
                firstName: '',
                lastName: '',
                selectedStore: null,
                selectedRole: null
            },
            stores: [],
            roles: []
        };
    },
    methods: {
        fetchUsers() {
            axios.get("/users")
                .then(response => {
                    this.response = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        saveUser(params) {
            let obj = {
                id: params.id,
                username: params.username,
                password: params.password,
                firstName: params.firstName,
                lastName: params.lastName,
                storeId: params.selectedStore ? params.selectedStore.id : null,
                storeName: params.selectedStore ? params.selectedStore.name : null,
                roleId: params.selectedRole.id,
                roleName: params.selectedRole.name
            }
            axios.post("/users", obj)
                .then(response => {
                    this.response.push(response.data.data);
                    this.showAddNewModal = false;
                })
                .catch(e => {
                    this.errors.push(e);
                });

        },
        editUser(params) {
            axios.post("/users", params)
                .then(response => {
                    let index = findIndexById(this.response, params.id);
                    this.response[index] = response.data.data;
                    this.showEditModal = false;
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        deleteUser(id) {
            axios.delete("/users/" + id)
                .then(response => {
                    this.response = removeById(this.response, id);
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        resetUserPassword(id){
            axios.put("/users/" + id + "/password")
                .then(response => {
                    this.stores = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        fetchStores() {
            axios.get("/stores")
                .then(response => {
                    this.stores = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        fetchRoles() {
            axios.get("/roles")
                .then(response => {
                    this.roles = response.data.data;
                })
                .catch(e => {
                    this.errors.push(e);
                });
        },
        addNewModal() {
            this.setDefaultValues();
            this.fetchStores();
            this.fetchRoles();
            this.showAddNewModal = true;
        },
        closeAddNewModal() {
            this.showAddNewModal = false;
        },
        editModal(user) {
            this.fetchStores();
            this.fetchRoles();
            this.modalProperties.id = user.id;
            this.modalProperties.username = user.username;
            this.modalProperties.firstName = user.firstName;
            this.modalProperties.lastName = user.lastName;
            this.modalProperties.selectedStore = { id: user.storeId, name: user.storeName };
            this.modalProperties.selectedRole = { id: user.roleId, name: user.roleName };
            this.showEditModal = true;
        },
        closeEditModal() {
            this.modalProperties.id = 0;
            this.modalProperties.name = '';
            this.showEditModal = false;
        },
        setDefaultValues() {
            this.modalProperties.id = 0;
            this.modalProperties.username = '',
            this.modalProperties.password = '',
            this.modalProperties.firstName = '',
            this.modalProperties.lastName = '',
            this.modalProperties.selectedStore = null,
            this.modalProperties.selectedRole = null;
        }
    },
    created: function() {
        this.fetchUsers();
    },
};
</script>

<style scoped>
    .btn {
        margin-right: 5px;
    }

    h3 {
        margin: 10px;
    }
</style>