<template>
    <div class="naviagtion">
        <b-navbar toggleable="lg" type="light" variant="info">
            <b-navbar-brand >5ipo</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <router-link to="/" class="nav-item nav-link">Proizvodi po trgovinama</router-link>
                    <router-link v-if="this.$store.getters.isAdmin" to="/product" class="nav-item nav-link">Proizvodi</router-link>
                    <router-link v-if="this.$store.getters.isAdmin" to="/store" class="nav-item nav-link">Trgovine</router-link>
                    <router-link v-if="this.$store.getters.isAdmin" to="/category" class="nav-item nav-link">Kategorije</router-link>
                    <router-link v-if="this.$store.getters.isAdmin" to="/role" class="nav-item nav-link">Role</router-link>
                    <router-link v-if="this.$store.getters.isAdmin" to="/user" class="nav-item nav-link">Korisnici</router-link>
                </b-navbar-nav>

                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right>
                    <!-- Using 'button-content' slot -->
                        <template v-slot:button-content>
                            <em>Korisnik</em>
                        </template>
                        <b-dropdown-item><router-link to='/myProfile'>Račun</router-link></b-dropdown-item>
                        <b-dropdown-item @click="logout()">Odjavi se</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>

            
        </b-navbar>
    </div>
</template>

<script>

import axios from '../auth'

export default {
    name: 'navigation',
    data () {
        return {
                errors: []
            }
    },
    
    methods: {
        logout () {
            this.$store.dispatch('logout')
                .then(() => this.$router.push('/login'))
                .catch(err => console.log(err))
        }
    }
}
</script>