<template>
  <div id="app">
    <div class="container">
      <Navigation v-show="this.$store.getters.isLoggedIn"></Navigation>
      <router-view/>
    </div>
  </div>
</template>

<script>
import Navigation from './components/Navigation'
import store from './store'

export default {
  name: "App",
  components: {
    Navigation
  }
};
</script>